.list {
  padding: 5px 0 0 20px;
  list-style: none;
}

.listItem {
  cursor: pointer;
  transition: all 0.5s;

  a {
    text-decoration: none;
    color: #000;

    span {
      padding: 5px;
      display: block;
    }

    &:hover {
      color: #3f3d6b;
    }
  }
}

.selectedItem {
  background: #3f3d6b;
  color: #fff;
  transition: all 0.5s;
}

.expandable {
  list-style-image: url("./assets/list-style.png");
}

.expanded {
  list-style-image: url("./assets/list-style-expanded.png");
}
